<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Luc Olsthoorn</title>
  <link rel="icon " type = "image/x-icon" href="img/icon.png"/>
     <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>
  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
<body class = "parallax-demo">
     
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

<script> 
      $(function(){
        $("#navig").load("nav.html"); 
         
      });
      </script>
      <div id="navig"></div>

<div class="container">
<div class="header">
    <div class="parallax-container" style=" height: 100px; ">
        <div class="parallax">
             <h2>MATH</h2>
        </div>  
    </div>
</div>
<div class="row">
    <form class="col s12">
        <div class="row">
            <div class= "col s12">
                <div class="row">
                    <div class="col s12">
                          <ul class="tabs">
                                <li class="tab col s3"><a class="active" href="#test4">Project</a></li> 
                                <li class="tab col s3"><a  href="#test1">About</a></li>
                                <li class="tab col s3"><a href="#test2">How it works</a></li>
                                <li class="tab col s3"><a href="#test3">Code</a></li>
                                            
                        </ul>
                    </div>
                        <div id="test1" class="col s12">
                            <h5>MATH is an AngularJS app that uses a summation formula to divide 100 by any number between 0 and 200 without actually dividing at all</h5>
                            <div class="row">
                                 <div class="col s12 m3">
                                    <div class="card yellow">
                                        <div style="padding:10px;">
                                            <span class="white-text">The yellow shows the percent accurate</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col s12 m3">
                                    <div class="card green">
                                        <div style="padding:10px;">
                                            <span class="white-text">The green section is the input for the calculator</span>
                                            <span class="white-text">What number should you divide 100 by </span>
                                            <span class="white-text">Iteration: How many times do you want to run the summation</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col s12 m3">
                                    <div class="card blue">
                                        <div style="padding:10px;">
                                            <span class="white-text">Calculated shows the total that has been summed</span>
                                            <span class="white-text">Actual shows the actual value</span>
                                        </div>  
                                    </div>
                                </div>
                                <div class="col s12 m3">
                                    <div class="card black">
                                        <div style="padding:10px;">
                                            <span class="white-text">Output is the total through each iteration</span>
                                            <span class="white-text">Added shows how much is added each iteration</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        
                <div id="test2" class="col s12">
                <h5>Mathmatically here is the summation formula:</h5>
                <img src = "img/math.jpg">
                
                <h5>Where x is what 100 is divided by, and n is the number of the iterations. </h5>
                </div>
                <div id="test3" class="col s12">
                    <h5>The code is simply this but in a for loop</h5>
                        <code>
                            <pre>
    $scope.output = function(){
    var text = &quot;&quot;;
    var x =  100 - $scope.in;
    var i;


    var total = 0;
    for(i=0; i &lt; $scope.iterat; i  ){
        total  = Math.pow(10, -2*i)*Math.pow(x,i);
        var a = total.toString();
        text  = a   &quot;\n&quot;;
    }
    return text;

                        }
                            </pre>
                        </code>
                    </div>
                </div>
            </div>
            <div id="test4" class="col s12">
                <div ng-app="myApp" ng-controller="myCtrl">
                    <div class= "col s12 m6">
                        <div class="card small green" style="color:white; height:150px;">
                            <div class="container">
                            <div class="row">
                                <div class="input-field col s12 m12">
                                    <label style="color:white;" for="first_name">100/:</label>
                                    <input style="color:white; border-bottom-color: white;"     type="number" min=0 max=200 ng-model="in"><br>
                                </div>
                                <div class="input-field col s12 m12" >
                                    <label style="color:white;"for="first_name">Iteration:</label>
                                    <input style="color:white;    border-bottom-color: white;"type="number" min=0 max=155 ng-model="iterat"><br>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                    <div class= "col s12 m4">
                        <div class="card small blue" style="color:white; height:150px;"> 
                            <div style="padding:10px;">
                                Calculated: <h5>{{total()}}</h5>
                                Actual: <h5>{{actual()}}</h5>
                            </div>
                        </div>
                    </div>
                    <div class = "col s12 m2">     
                        <div class="card small yellow" style="color:white; height:150px;   width: 100px;">
                            <div class="card-content black-text">
                                <h2 style="line-height: 0.5;">{{total()/actual()*100 | limitTo:2}}</h2>
                                <h2 style="line-height: 0.5;">%</h2>
                            </div>
                        </div>    
                    </div>
                    <div class = "col s12 m12" >
                        <div class= "card black"  style=" color:white;  overflow:auto; height:500px;">                    
                            <div class = "col s12 m6">
                                Output: <pre>{{output()}}</pre>
                            </div>
                            <div class = "col s12 m6">
                                Added: <pre>{{added()}}</pre>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>

    <script src="js/app.js"></script>
    <script src="js/angular/MainController.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="js/bin/materialize.js"></script>
    <script src="js/init.js"></script>
    <script src="js/prism.js"></script>
    <script src="js/agency.js"></script>
